.cart{
    /* margin: 0px; */
    padding: 20px;
    position: fixed;
    top: 100px;
    width: 36%;
    height: 95%;
    overflow-y: auto;
    right: 0;
    border:1px solid rgb(177, 103, 103);;
    background-color: rgb(255, 255, 255);
    z-index: 1000;
}